.ml-auto {
  margin-left: auto !important;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.sidebar {
  height: calc(100vh - 3.5rem);
  width: 16rem;
  background-color: #212529;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #fff;
}

.content {
  height: calc(100vh - 3.5rem);
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar-item {
  height: 3rem;
  padding-left: 1rem;
  color: #fff;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.sidebar-item a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sidebar-item span {
  margin-left: 0.5rem;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.custom-icon-size {
  font-size: 0.8rem;
}

.custom-btn {
  display: block;
  width: 100%;
  text-align: left;
  background: transparent;
  border: none;
  height: 3rem;
  padding-left: 1rem;
  transition: background-color 0.3s;
}

.custom-btn span {
  margin-left: 0.5rem;
}

.custom-btn:hover {
  background: transparent;
  background-color: rgba(255, 255, 255, 0.3);
}
